.CategoriItem {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: #282929;
  padding: 20px 10px;
  border-radius: 12px;
}

#CateogriTitle {
  line-break: anywhere;
  text-align: center;
  transition: 0.8s;
}

.CategoriItem svg path {
  transition: 0.8s;
}

.CategoriItem:hover #CateogriTitle {
  color: white;
}

.CategoriItem:hover svg path {
  fill: white;
}

@media only screen and (max-width: 768px) {
  .CategoriItem {
    padding: 20px 0px;
    width: 100px;
  }

  .CategoriItem svg {
    width: 49px;
    height: 48px;
  }

  #CateogriTitle {
    line-break: normal;
  }
}