.CategoriItem {
  width: 120px;
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  background-color: #282929;
  padding: 15px 5px;
  border-radius: 12px;
}

.CategoriItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CategoriItemImgWrapper {
  width: 70px;
  height: 70px;
}

.CategoriItemLoading {
  gap: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CategoriItemLoading span {
  width: 120px;
  height: 150px !important;
  border-radius: 12px;
}

#CateogriTitle {
  /* line-break: anywhere; */
  text-align: center;
  transition: 0.8s;
  height: 40px;
}


.CategoriItemImg {
  transition: 0.7s;
}

.CategoriItem:hover #CateogriTitle {
  color: white;
}

.CategoriItem:hover .CategoriItemImg {
  fill: white;
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 768px) {
  .CategoriItem {
    padding: 15px 0px;
    width: 100px;
    height: 110px;
    gap: 3px;
  }

  #CateogriTitle {
    height: 30px;
  }

  .CategoriItemLoading span {
    width: 100px;
    height: 110px !important;
    border-radius: 12px;
  }

  .CategoriItemImg {
    width: 55px;
    height: 55px;
  }

  #CateogriTitle {
    line-break: normal;
  }
}