.InputWrapper {
  position: relative;
}

.input {
  border: none;
  border: 1px solid white;
  width: 100%;
  padding: 10px 15px;
  width: 100%;
  position: relative;
}

.eyeIcone {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  margin: auto;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.InputerrorText {
  height: 5px;
  font-size: 10px;
  color: red;
}

#errorInput {
  border: 1px solid red !important;
}

@media only screen and (max-width: 768px) {
  .input {
    padding: 8px 12px;
  }

  .eyeIcone {
    width: 16px;
    height: 16px;
  }
}