.TeaxtAreaWrapper {
  border: none;
  width: 100%;
  /* padding: 10px 15px; */
  width: 100%;
  position: relative;
}

.TeaxtAreaWrapper>textarea {
  resize: none;
  height: 115px;
}

.tox .tox-statusbar__branding svg {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .TeaxtAreaWrapper>textarea {
    height: 105px;
  }
}