.Input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 280px;
}

.Input>input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #939393;
  border-radius: 8px;
  color: white;
  padding: 10px;
}

#demo-multiple-checkbox {
  background-color: transparent !important;
  border-radius: 8px !important;
  padding: 0 !important;
  height: 30px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid #939393 !important;
  border-radius: 8px !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.custom-outlined-input-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ff5722 !important;
  /* Change to desired color */
  border-width: 2px;
  /* Change border width if needed */
}



@media only screen and (max-width: 320px) {
  .PersonalCabinetInputWrappr {
    display: inline;
    width: 100%;
  }

  .avatarDiv {
    margin-bottom: 30px;
  }

  .Input {
    width: 100%;
  }
}