.CardWrapper {
  width: 100%;
  display: flex;
  gap: 1.3%;
  flex-wrap: wrap;
  margin: 20px 0;
}

@media only screen and (max-width: 1220px) {
  .CardWrapper {
    gap: 5%;
    /* width: 30%; */
  }
}

@media only screen and (max-width: 876px) {
  .CardWrapper {
    gap: 2%;
    /* width: 30%; */
  }
}

@media only screen and (max-width: 769px) {
  .CardWrapper {
    gap: 10%;
    /* width: 30%; */
  }
}

@media only screen and (max-width: 650px) {
  .CardWrapper {
    gap: 5%;
    /* width: 30%; */
  }
}


@media only screen and (max-width: 425px) {
  .CardWrapper {
    gap: 0;
    justify-content: center;
  }
}