.select {
  width: 100%;
  padding: 10px 15px;
  width: 100%;
  position: relative;
  z-index: 999;
  background: white;
  border: 1px solid white;
}

.UiSelect {
  margin-bottom: 15px;
}

.seectHeader p {
  color: #8a8080;
  font-size: 13px;
  cursor: pointer;
}

.downSvgDiv {
  position: absolute;
  right: 15px;
}

.demo-multiple-checkbox-label {
  border: 1px solid white !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  background: white !important;
  border-radius: 0;
}

#demo-multiple-checkbox-label {
  margin-top: -8px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.25px 14px !important;
}

@media only screen and (max-width: 768px) {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 5.25px 14px !important;
  }

  #demo-multiple-checkbox-label {
    margin-top: -11px !important;
  }
}