.ChartDiv {
  /* border: 2px solid #BFBFBF; */
  border-radius: 10px;
  width: 49%;
  background-color: white;
}

.Statistics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}