.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

#header {
  background-color: rgba(20, 24, 25, 0.5);
}

.SearchinputContiner {
  width: 50%;
  position: relative;
  height: 33px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Searchinput {
  position: relative;
  width: 80%;
  height: 100%;
}

.SearchInputSvg {
  display: flex;
  gap: 7px;
}

.Searchinput>div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  right: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Searchinput>input {
  width: 100%;
  padding-left: 10px;
  padding-right: 40px;
  height: 100%;
  background-color: #15171E;
  color: white;
  border: 1px solid #394150;
  border-radius: 12px;
  transition: 1s;
}

.Searchinput>input:focus {
  border: 1px solid #BFBFBF;
}

.AlertDiv {
  position: absolute;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.Catalog {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #BFBFBF;
  padding: 2px 15px;
  border-radius: 12px;
}

.IconeSvg {
  display: flex;
  align-items: center;
  gap: 30px;
}

#headerLogin {
  cursor: pointer;
  display: block;
}

.MenuMobileHeader {
  display: none;
}

.UserDiv {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.UserDiv>img {
  object-fit: cover;
  border-radius: 50%;
}

.UserDivMenu {
  top: 40px;
  padding: 10px;
  position: absolute;
  width: 200px;
  background-color: #282929;
  border: 1px solid #EFEFEF;
  border-radius: 15px;
  z-index: 999;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rotate {
  transition: 500ms;
}

#rotate-90 {
  transform: rotate(180deg);
}

.UserDivMenu>p:hover {
  background-color: #1c1c1c;
}

.UserDivMenu>p {
  padding: 10px;
}

@media only screen and (max-width: 820px) {
  .Catalog {
    display: none;
  }

  .SearchInputSvg {
    display: none;
  }

  .Searchinput {
    width: 100%;
  }

  #headerLogin {
    display: none;
  }

  .MenuMobileHeader {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  .SearchinputContiner {
    width: 60%;
  }
}