#catalogtitle {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #FFB800;
}

.SelectWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.CatalogInput {
  border-radius: 20px;
  border: none;
  text-align: center;
  width: 100px;
  background-color: #393939;
  color: white;
  border: 1px solid;
}

#CatalogButton {
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 100px;
  background-color: #FFB800;
  color: white;
  cursor: pointer;
}

#nothingNotFound {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .SelectWrapper {
    justify-content: space-between;
  }

  .CatalogInput {
    height: 25px;
  }
}